* {
    font-family: Garamond, Verdanna;
}

.title {
    text-align: center;
}

#home-page {
    background-color: aqua;
}

#recipe-page {
    background-color:lightslategray;
}

#description {
    color:darkslategray;
}