* {
    font-family: Garamond, Verdanna;
}

.title {
    text-align: center;
}

.recipe-li {
    display: inline;
}

.recipe-li a {
    border: 1px orange solid;
}

#home-page {
    background-color: aqua;
}

#recipe-page {
    background-color:lightslategray;
}

#description {
    color:darkslategray;
}